
<header>
  <a href="#main-menu"
     role="button"
     id="main-menu-toggle"
     class="menu-toggle"
     aria-expanded="false"
     aria-controls="main-menu"
     aria-label="Open main menu">

    <span class="sr-only">Open main menu</span>
    <span class="fa fa-bars" aria-hidden="true"></span>
  </a>

  <h1 class="logo">AirportClient</h1>

  <nav id="main-menu" role="navigation" class="main-menu" aria-expanded="false" aria-label="Main menu">
    <a href="#main-menu-toggle"
       role="button"
       id="main-menu-close"
       class="menu-close"
       aria-expanded="false"
       aria-controls="main-menu"
       aria-label="Close main menu">

      <span class="sr-only">Close main menu</span>
      <span class="fa fa-times" aria-hidden="true"></span>
    </a>
    <ul>
      <li><a [routerLink]="['/tickets']">Tickets</a></li>
      <li><a [routerLink]="['/flights']">Flights</a></li> 
      <li><a [routerLink]="['/departures']">Departures</a></li>
      <li><a [routerLink]="['/crews']">Crews</a></li>
      <li><a [routerLink]="['/pilots']">Pilots</a></li>
      <li><a [routerLink]="['/flightAttendants']">FlightAttendants</a></li>
      <li><a [routerLink]="['/planes']">Planes</a></li>
      <li><a [routerLink]="['/planeTypes']">PlaneTypes</a></li>
    </ul>
  </nav>
  <a href="#main-menu-toggle"
     class="backdrop"
     tabindex="-1"
     aria-hidden="true" hidden></a>
</header>
<router-outlet></router-outlet>
