
<section>
  <h1>Our pilots</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Birthday</th>
          <th>Experience</th>
          <th> </th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr *ngFor="let t of Pilots">
          <td>{{t.id}}</td>
          <td>{{t.name}} </td>
          <td>{{t.surname}}</td>
          <td>{{t.birthday}}</td>
          <td>{{t.experience}}</td>
          <td>
            <button class="btn btn-primary" (click)="delete(t.id)" ><i class="far fa-trash-alt "></i></button>
            <button class="btn btn-primary" [routerLink]="['/pilots',t.id]" ><i class="far fa-edit"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<div class="addElement">
    <div class="сontainer">
  <div class="row">
    <div class="col-md-4 col-sm offset-md-4">
      <form >
          <h3>Edit</h3>
        
            <input class="input" placeholder= "Name" name = "pilotName"  [(ngModel)]="Name"/>     
            <input class="input" placeholder= "Surname" name = "pilotSurname"  [(ngModel)]="Surname"/>
   
            <label  for="pilotBirthday">Birthday:</label>
            <input class="input" name = "pilotBirthday" type = "date" [(ngModel)]="Birthday"/>
 
          
            <input class="input" placeholder="Experience" name = "pilotExperience" type = "number" [(ngModel)]="Experience"/>
       
          <button type="button" class="btn btn-primary"  (click)="add()">Save</button>
      </form>
    </div>
  </div>
  </div>
</div>